@using HumanResources.Core.Entities
@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
@{
    TempData["name"] = Context.Session.GetString("name");
    TempData["surname"] = Context.Session.GetString("surname");
    TempData["photoPath"] = Context.Session.GetString("photoPath");
    TempData["title"] = Context.Session.GetString("title");
    TempData["id"] = Context.Session.GetString("id");
    TempData["Package"] = Convert.ToInt32(Context.Session.GetString("Package"));
    TempData["MessageCount"] = Context.Session.GetString("MessageCount");
    TempData["AdvancePaymentCount"] = Context.Session.GetString("AdvancePaymentCount");
    TempData["ExpensesCount"] = Context.Session.GetString("ExpensesCount");
    TempData["totalMessage"] = Convert.ToInt32(Context.Session.GetString("MessageCount")) + Convert.ToInt32(Context.Session.GetString("AdvancePaymentCount")) + Convert.ToInt32(Context.Session.GetString("ExpensesCount"));
    TempData["WalletBalance"] = Convert.ToDecimal(Context.Session.GetString("WalletBalance"));

    Wallet wallet = (Wallet)TempData["Wallet"];
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HR_ManagementProject</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Favicons -->
    <link href="/NewTemplate/assets/img/favicon.png" rel="icon">
    <link href="/NewTemplate/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/NewTemplate/assets/css/style.css" rel="stylesheet" />
    <link href="/NewTemplate/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/NewTemplate/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/NewTemplate/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/NewTemplate/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="/NewTemplate/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="/NewTemplate/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/NewTemplate/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/NewTemplate/assets/css/style.css" rel="stylesheet">

</head>
<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a class="logo d-flex align-items-center" asp-controller="Home" asp-action="Index">
                <img src="assets/img/logo.png" alt="">
                <span class="d-none d-lg-block">HumanResources</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->
        @*<div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
        </div>*@<!-- End Search Bar -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li><!-- End Search Icon-->

                <li>
                    <a id="CMZero" class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-wallet2" viewBox="0 0 16 16">
                            <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z" />
                        </svg>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                        <li class="dropdown-header">
                                <b>Cüzdan Bakiyesi:</b> @TempData["WalletBalance"] TL
                        </li>
                        <li class="dropdown-header">
                                Bakiye yüklemek için tıklayınız.
                            <a asp-area="CompanyManager" asp-controller="Wallet" asp-action="CreateBalance"><span class="badge rounded-pill bg-primary p-2 ms-2">Bakiye Yükle</span></a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                    </ul><!-- End Messages Dropdown Items -->
                </li>

                <li class="nav-item dropdown">



                <li class="nav-item dropdown">
                    <a id="CMZero" class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-chat-left-text"></i>
                            @if (Convert.ToInt32(TempData["totalMessage"]) == 0)
                            {

                            }
                            else
                            {
                            <span class="badge bg-success badge-number">@TempData["totalMessage"]</span>
                            }

                    </a><!-- End Messages Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                        <li class="dropdown-header">
                                @TempData["MessageCount"] yeni izin talebi mesajınız var!
                            <a asp-area="CompanyManager" asp-controller="CompanyManagerPermission" asp-action="WaitingPermission"><span class="badge rounded-pill bg-primary p-2 ms-2">Tümünü Gör</span></a>
                        </li>
                        <li class="dropdown-header">
                                @TempData["AdvancePaymentCount"] yeni avans talebi mesajınız var!
                            <a asp-area="CompanyManager" asp-controller="AdvancePayment" asp-action="WaitingAdvancePayment"><span class="badge rounded-pill bg-primary p-2 ms-2">Tümünü Gör</span></a>
                        </li>
                        <li class="dropdown-header">
                                @TempData["ExpensesCount"] yeni harcama talebi mesajınız var!
                            <a asp-area="CompanyManager" asp-controller="CompanyManagerExpense" asp-action="WaitingExpenses"><span class="badge rounded-pill bg-primary p-2 ms-2">Tümünü Gör</span></a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>



                    </ul><!-- End Messages Dropdown Items -->

                </li><!-- End Messages Nav -->




                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                            @if ((string)TempData["photoPath"] == "default")
                            {
                            <img src="@Url.Content("~/images/default.png")" alt="Profile" class="rounded-circle">

                            }
                            else
                            {
                            <img src="@Url.Content((string)TempData["photoPath"])" alt="Profile" class="rounded-circle">
                            }
                        <span class="d-none d-md-block dropdown-toggle ps-2">Merhaba @TempData["title"] @TempData["name"] !</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>@TempData["name"]  @TempData["surname"]</h6>
                            <span>@TempData["title"]</span>
                            <span>@TempData["Company"]</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" asp-route-id="@Convert.ToInt32(TempData["id"])" asp-area="CompanyManager" asp-controller="User" asp-action="Details">
                                <i class="bi bi-person"></i>
                                <span>Profilim</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" asp-controller="Login" asp-action="LogOut">
                                <i class="bi bi-gear"></i>
                                <span>Çıkış Yap</span>
                            </a>
                        </li>


                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        @if ((int)TempData["Package"] != 0)
        {
        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link " asp-controller="Home" asp-action="Index">
                    <i class="bi bi-grid"></i>
                    <span>Yönetim Paneli</span>
                </a>
            </li><!-- End Dashboard Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#packages-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-journal-text"></i><span>Paketler</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="packages-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a asp-area="CompanyManager" asp-controller="Package" asp-action="Index">
                            <i class="bi bi-circle"></i><span>Paketleri Listele</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#employees-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-journal-text"></i><span>Çalışanlar</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="employees-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a asp-area="CompanyManager" asp-controller="Employee" asp-action="Create">
                            <i class="bi bi-circle"></i><span>Çalışan Ekle</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="CompanyManager" asp-controller="Employee" asp-action="Index">
                            <i class="bi bi-circle"></i><span>Çalışanları Listele</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#avans-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-journal-text"></i><span>Avans Talepleri</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="avans-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a asp-area="CompanyManager" asp-controller="AdvancePayment" asp-action="Index">
                            <i class="bi bi-circle"></i><span>Avans teleplerini Listele</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#izinler-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-journal-text"></i><span>İzinler</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="izinler-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">

                    <li>
                        <a asp-area="CompanyManager" asp-controller="CompanyManagerPermission" asp-action="WaitingPermission">
                            <i class="bi bi-circle"></i><span>Bekleyen İzinler</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#harcamalar-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-journal-text"></i><span>Harcamalar</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="harcamalar-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a asp-area="CompanyManager" asp-controller="CompanyManagerExpense" asp-action="Index">
                            <i class="bi bi-circle"></i><span>Harcamaları Listele</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="CompanyManager" asp-controller="CompanyManagerExpense" asp-action="WaitingExpenses">
                            <i class="bi bi-circle"></i><span>Bekleyen Harcamalar</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#wallet-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-journal-text"></i><span>Cüzdan</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="wallet-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a asp-area="CompanyManager" asp-controller="Wallet" asp-action="Index">
                            <i class="bi bi-circle"></i><span>Cüzdanı Görüntüle</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="CompanyManager" asp-controller="Wallet" asp-action="CreateBalance">
                            <i class="bi bi-circle"></i><span>Bakiye Ekleme</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#credit-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-journal-text"></i><span>Kredi Kartlarım</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="credit-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a asp-area="CompanyManager" asp-controller="CreditCard" asp-action="Index">
                            <i class="bi bi-circle"></i><span>Kredi Kartım</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="CompanyManager" asp-controller="CreditCard" asp-action="Create">
                            <i class="bi bi-circle"></i><span>Kredit Kartı Ekle</span>
                        </a>
                    </li>
                </ul>
            </li>


        </ul>

        }
        else
        {

    <ul class="sidebar-nav" id="sidebar-nav">
        <li style="color:red">
            Personel işlemlerinden önce paket satın almalısınız.
        </li>
        <li class="nav-item">
            <a class="nav-link " asp-controller="Home" asp-action="Index">
                <i class="bi bi-grid"></i>
                <span>Yönetim Paneli</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#packages-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>Paketler</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="packages-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a asp-area="CompanyManager" asp-controller="Package" asp-action="Index">
                        <i class="bi bi-circle"></i><span>Paketleri Listele</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#wallet-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>Cüzdan</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="wallet-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a asp-area="CompanyManager" asp-controller="Wallet" asp-action="Index">
                        <i class="bi bi-circle"></i><span>Cüzdanı Görüntüle</span>
                    </a>
                </li>
                <li>
                    <a asp-area="CompanyManager" asp-controller="Wallet" asp-action="CreateBalance">
                        <i class="bi bi-circle"></i><span>Bakiye Ekleme</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#credit-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>Kredi Kartlarım</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="credit-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a asp-area="CompanyManager" asp-controller="CreditCard" asp-action="Index">
                        <i class="bi bi-circle"></i><span>Kredi Kartım</span>
                    </a>
                </li>
                <li>
                    <a asp-area="CompanyManager" asp-controller="CreditCard" asp-action="Create">
                        <i class="bi bi-circle"></i><span>Kredit Kartı Ekle</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
        }

    </aside><!-- End Sidebar-->

    <main id="main" class="main">

        @RenderBody()

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="copyright">
            &copy; Copyright <strong><span>Human Resources</span></strong>. All Rights Reserved
        </div>
        <div class="credits">

            Designed by Yakup-Enis-Ezgi-Rezan Team <a asp-controller="Home" asp-action="Index">HumanResources</a>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="/NewTemplate/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="/NewTemplate/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/NewTemplate/assets/vendor/chart.js/chart.min.js"></script>
    <script src="/NewTemplate/assets/vendor/echarts/echarts.min.js"></script>
    <script src="/NewTemplate/assets/vendor/quill/quill.min.js"></script>
    <script src="/NewTemplate/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="/NewTemplate/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="/NewTemplate/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/NewTemplate/assets/js/main.js"></script>

    <!-- Bildirim mesajı sıfırlama -->
    @section scripts {
        <script>
            $("#CMZero").on('click', function() {
                TempData["MessageCount"] = 0;
            });
        </script>
    }
        <!-- Bildirim mesajı sıfırlama -->
        @RenderSection("Scripts", required: false)
    </body>
    </html>
