@model HumanResources.Core.Entities.Permission

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_CompanyManagerLayout.cshtml";
}

<h3>İzin Talebini Silmek İstediğinizden Emin misiniz?</h3>

<div>

    <hr />
    <div class="card">

        <br />
        <br />
        <div class="row">
            <div class="col-lg-3 col-md-4 label ">&nbsp;&nbsp; @Html.DisplayNameFor(model => model.PermissionType)</div>
            <div class="col-lg-9 col-md-8"> @Html.DisplayFor(model => model.PermissionType)</div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 label ">&nbsp;&nbsp; @Html.DisplayNameFor(model => model.TotalDayOfPermissionType)</div>
            <div class="col-lg-9 col-md-8"> @Html.DisplayFor(model => model.TotalDayOfPermissionType)</div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 label ">&nbsp;&nbsp; @Html.DisplayNameFor(model => model.RequestDate)</div>
            <div class="col-lg-9 col-md-8"> @Html.DisplayFor(model => model.RequestDate)</div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-3 col-md-4 label">&nbsp;&nbsp; @Html.DisplayNameFor(model => model.StartDate)</div>
            <div class="col-lg-9 col-md-8"> @Html.DisplayFor(model => model.StartDate)</div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-3 col-md-4 label">&nbsp;&nbsp; @Html.DisplayNameFor(model => model.EndDate)</div>
            <div class="col-lg-9 col-md-8"> @Html.DisplayFor(model => model.EndDate)</div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-3 col-md-4 label">&nbsp;&nbsp; @Html.DisplayNameFor(model => model.PermissionStatus)</div>
            <div class="col-lg-9 col-md-8"> @Html.DisplayFor(model => model.PermissionStatus)</div>
        </div>
        <br />

        <form asp-action="Delete">
            &nbsp;&nbsp;
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Sil" class="btn btn-danger" /> &nbsp;&nbsp;
            <a asp-action="Index" class="btn btn-primary">Listeye Dön</a>
        </form>
        <br /><br />
    </div>
</div>
