@using Microsoft.AspNetCore.Http
@model HumanResources.Core.Entities.Package
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    ViewData["Title"] = "Details";
     if (Context.Session.GetString("email") != "admin@admin.com")
    {
        Layout = "_CompanyManagerLayout";
    }
}

<h2>Paket Detayı</h2>

 <div>
    
    
    <div>

    <hr />
    <div class="card">

        <br />
        <br />

        <div class="row">
            <div class="col-lg-3 col-md-4 label ">&nbsp;&nbsp; @Html.DisplayNameFor(model => model.Name)</div>
            <div class="col-lg-9 col-md-8"> <b>@Html.DisplayFor(model => model.Name):</b></div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-3 col-md-4 label">&nbsp;&nbsp; @Html.DisplayNameFor(model => model.Description)</div>
            <div class="col-lg-9 col-md-8"> <b>@Html.DisplayFor(model => model.Description):</b></div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-3 col-md-4 label">&nbsp;&nbsp; @Html.DisplayNameFor(model => model.StartDate)</div>
            <div class="col-lg-9 col-md-8"> <b>@Html.DisplayFor(model => model.StartDate):</b></div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-3 col-md-4 label">&nbsp;&nbsp; @Html.DisplayNameFor(model => model.EndDate)</div>
            <div class="col-lg-9 col-md-8"> <b>@Html.DisplayFor(model => model.EndDate):</b></div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-3 col-md-4 label">&nbsp;&nbsp; @Html.DisplayNameFor(model => model.Cost)</div>
            <div class="col-lg-9 col-md-8"> <b>@Html.DisplayFor(model => model.Cost):</b></div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-3 col-md-4 label">&nbsp;&nbsp; @Html.DisplayNameFor(model => model.Occupancy)</div>
            <div class="col-lg-9 col-md-8"> <b>@Html.DisplayFor(model => model.Occupancy):</b></div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-3 col-md-4 label">&nbsp;&nbsp; @Html.DisplayNameFor(model => model.UsageAmount)</div>
            <div class="col-lg-9 col-md-8"> <b>@Html.DisplayFor(model => model.UsageAmount):</b></div>
        </div>
        <br />
        <form asp-area="CompanyManager" asp-controller="Package" asp-action="Edit">&nbsp;&nbsp;
            @*<input type="hidden" asp-for="Id" />
            <input type="submit" value="Edit" class="btn btn-danger" /> &nbsp;&nbsp;*@
            <a asp-area="CompanyManager" asp-controller="Package" asp-action="Index" class="btn btn-primary">Paket Listesine Dön</a>
        </form>
        <br /><br />
    </div>
</div>

  
</div>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}

